@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply lg:px-[147px] md:px-[100px] px-5;
}
.nav-link {
  @apply text-[20px] py-[10px] text-white;
}
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/bg-hero-man.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line {
  @apply h-[1px] bg-white w-[50px] md:w-[110px];
}
